{% extends "base.html" %}
{% block page %}
<div id="content" class="container-fluid">
<div class="row-fluid">
<div class="span12">
<section id="Authentication">
<h1>Authentication</h1>
<hr>

<p class="lead">To use any of the API's you must have an api_token
        and appended to your string as api_token=TOKEN. To get a
        token, login on the upper right. We use google auth to make
        the auth request. Once signed in, visit the token page to see
        your token, and get coding!</p>


</section>
</div>
</div>
</div>
{% endblock %}
