{% extends  "base.html" %}
{% block content %}
<div id="content" class="container">

    <section id="courses" class="api-page">
    <h1>Courses</h1>
    <hr>

    <h3>Try it!</h3>
    <br>
    <form method='post' >
        <div>
            <input class="form-control lead" name="searchTerm" placeholder="Search for courses with a specific name, term, call number here"/>
        </div>
        <div>
            <input class="btn" name="submit" type="submit" value='Search' />
        </div>
    </form>
    {% if results != [] %}
    <table class="table-striped table-bordered center-block" padding width="90%">
        {% for item in results %}
            <tr width="100%">
                <td >
                    {{ item["name"] }}
                </td>
                <td >
                    {{ item["course_id"] }}
                </td>
                <td >
                    {{ item["term"] }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <br>
    <h3>There are two courses endpoints: courses/select and courses/search.</h3>
    <br>
    
    <div class="panel panel-default endpoint-select" data-toggle="collapse" data-target="#select_panel">
        <div class="panel-heading"><h4>Select</h4></div>
        <div class="panel-body">
            <button type="button" disabled class="btn">GET</button>
            <span class="panel-text">/api/courses/select?course_id=course_id&term=term&key=key</span>
        </div>
        <div id="select_panel" class="collapse">
            <h3>Response</h3>
            <div class="box-example">
            <pre class="text-success prettyprint
            lang=js">{
                &quot;status_code&quot;: 200,
                &quot;data&quot;: [
                    {
                        &quot;DepartmentCode&quot;: &quot;COMS&quot;,
                        &quot;Sections&quot;: [
                            {
                                &quot;Course&quot;: &quot;CBMF4761&quot;,
                                &quot;Term&quot;: &quot;20131&quot;,
                                &quot;TypeName&quot;: &quot;LECTURE&quot;,
                                &quot;NumEnrolled&quot;: 14,
                                &quot;Room2&quot;: null,
                                &quot;Room1&quot;: &quot;1127&quot;,
                                &quot;EndTime2&quot;: &quot;None&quot;,
                                &quot;MeetsOn2&quot;: null,
                                &quot;CampusName&quot;: &quot;MORNINGSIDE&quot;,
                                &quot;EndTime1&quot;: &quot;17:25:00&quot;,
                                &quot;Building1&quot;: &quot;SEELEY W. MU&quot;,
                                &quot;Instructor1Name&quot;: &quot;PE'ER, ITSHACK&quot;,
                                &quot;MaxSize&quot;: 75,
                                &quot;Building2&quot;: null,
                                &quot;CampusCode&quot;: &quot;MORN&quot;,
                                &quot;CallNumber&quot;: 69280,
                                &quot;MeetsOn1&quot;: &quot;MW&quot;,
                                &quot;SectionFull&quot;: &quot;CBMF4761W001&quot;,
                                &quot;StartTime1&quot;: &quot;16:10:00&quot;,
                                &quot;StartTime2&quot;: &quot;None&quot;
                            }
                        ],
                        &quot;MaxUnits&quot;: 0,
                        &quot;Course&quot;: &quot;CBMF4761&quot;,
                        &quot;CourseSubtitle&quot;: &quot;COMPUTATIONAL GENOMICS&quot;,
                        &quot;MinUnits&quot;: 0,
                        &quot;Description&quot;: &quot;Provides comprehensive introduction to computational techniques for analyzing genomic data including DNA, RNA and protein structures; microarrays; transcription and regulation; regulatory, metabolic and protein interaction networks. The course covers sequence analysis algorithms, dynamic programming, hidden Markov models, phylogenetic analysis, Bayesian network techniques, neural networks, clustering algorithms, support vector machines, Boolean models of regulatory networks, flux based analysis of metabolic networks and scale-free network models. The course provides self-contained introduction to relevant biological mechanisms and methods.&quot;,
                        &quot;NumFixedUnits&quot;: 30,
                        &quot;DepartmentName&quot;: &quot;COMPUTER SCIENCE&quot;,
                        &quot;SchoolName&quot;: &quot;INTERFACULTY&quot;,
                        &quot;CourseTitle&quot;: &quot;COMPUTATIONAL GENOMICS&quot;,
                        &quot;Approval&quot;: &quot;&quot;
                    }
                ],
                &quot;status_txt&quot;: &quot;OK&quot;
            }</pre>
            </div>
        </div>
    </div>
    

    <div class="panel panel-default endpoint-select" data-toggle="collapse" data-target="#search_panel">
        <div class="panel-heading"><h4>Search</h4></div>
        <div class="panel-body">
            <button type="button" disabled class="btn method-btn">GET</button>
            <span class="panel-text">/api/courses/search?course_name=course_name&key=key</span>
        </div>
        <div id="search_panel" class="collapse">
            <h3>Response</h3>
            <div>
                <pre class="text-success prettyprint
                lang=js">{
                    &quot;status_code&quot;: 200,
                    &quot;data&quot;: [
                        {
                            &quot;Term&quot;: &quot;20131&quot;,
                            &quot;CampusName&quot;: &quot;BARNARD COLLEGE&quot;,
                            &quot;StartTime2&quot;: &quot;None&quot;,
                            &quot;StartTime1&quot;: &quot;13:10:00&quot;,
                            &quot;Course&quot;: &quot;SPAN1102&quot;,
                            &quot;CampusCode&quot;: &quot;CBAR&quot;,
                            &quot;Instructor1Name&quot;: &quot;ARCE-FERNANDEZ, MARIA I&quot;,
                            &quot;Building1&quot;: &quot;MILBANK HALL&quot;,
                            &quot;Building2&quot;: null,
                            &quot;NumEnrolled&quot;: 16,
                            &quot;CallNumber&quot;: 511,
                            &quot;MeetsOn1&quot;: &quot;MTWR&quot;,
                            &quot;SectionFull&quot;: &quot;SPAN1102W013&quot;,
                            &quot;EndTime1&quot;: &quot;14:15:00&quot;,
                            &quot;EndTime2&quot;: &quot;None&quot;,
                            &quot;MeetsOn2&quot;: null,
                            &quot;TypeName&quot;: &quot;LANGUAGE&quot;,
                            &quot;MaxSize&quot;: 15,
                            &quot;Room2&quot;: null,
                            &quot;Room1&quot;: &quot;237&quot;
                        }
                    ],
                    &quot;status_txt&quot;: &quot;OK&quot;
                }
                </pre>
            </div>
        </div>    
    </div>
    
    <br>
    <h3>The query parameters for the two endpoints are the same.</h3>
    <br>

    <div class="panel panel-default" data-toggle="collapse" data-target="#query_panel">
        <div class="panel-body">Query Parameters</div>
    </div>
    <div id="query_panel" class="collapse">

        {% if parameters != [] %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for item in parameters %}
                    <tr width="100%">
                        <td >
                            {{ item["name"] }}
                        </td>
                        <td >
                            {{ item["type"] }}
                        </td>
                        <td >
                            {{ item["description"] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    </section>
</div>

{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='assets/api_page.css')}}">
{% endblock %}