{% extends "base.html" %}
{% block content%}
<div id="content" class="container-fluid">
<div class="row-fluid">
<div class="span12">
<section id="housing">
<h1>Housing</h1>
<hr>

<p class="lead">Housing is broken down into two different endpoints,
                rooms and buildings.  Rooms has a bunch of room data (gasp) as
                well as some lottery information... Buildings has a list of
                amentities... We don't offer joins across these two datasets,
                so get creative! ;)</p>



<h2>Endpoint housing/rooms</h2>
<h3>GET Request</h3>
<div class="box-example">
<p class="text-info"><a href="http://data.adicu.com/housing/rooms?is_suite=true&amp;api_token=API_TOKEN" target="_blank">http://data.adicu.com/housing/rooms?is_suite=true&amp;api_token=API_TOKEN</a></p>
</div>
<h3>Response</h3>
<div class="box-example">
<pre class="text-success prettyprint
lang=js">
{
    &quot;status_code&quot;: 200,
    &quot;data&quot;: [
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2497,
            &quot;RoomLocationSection&quot;: &quot;47C - 1st Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 1A&quot;,
            &quot;RoomType&quot;: &quot;Single&quot;,
            &quot;RoomSpace&quot;: &quot;47C 1A-1 &quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 1 &quot;,
            &quot;RoomArea&quot;: 90,
            &quot;PointValue&quot;: 21.6667,
            &quot;FloorSuiteWebDescription&quot;: &quot;&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2497,
            &quot;RoomLocationSection&quot;: &quot;47C - 1st Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 1B &quot;,
            &quot;RoomType&quot;: &quot;Single&quot;,
            &quot;RoomSpace&quot;: &quot;47C 1B-1 &quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 1 &quot;,
            &quot;RoomArea&quot;: 120,
            &quot;PointValue&quot;: 21.6667,
            &quot;FloorSuiteWebDescription&quot;: &quot;&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2497,
            &quot;RoomLocationSection&quot;: &quot;47C - 1st Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 1C &quot;,
            &quot;RoomType&quot;: &quot;Single&quot;,
            &quot;RoomSpace&quot;: &quot;47C 1C-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 1 &quot;,
            &quot;RoomArea&quot;: 104,
            &quot;PointValue&quot;: 21.6667,
            &quot;FloorSuiteWebDescription&quot;: &quot;&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
                &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
                &quot;LotteryNumber&quot;: 2497,
                &quot;RoomLocationSection&quot;: &quot;47C - 1st Floor&quot;,
                &quot;IsSuite&quot;: true,
                &quot;Room&quot;: &quot;47C 1D &quot;,
                &quot;RoomType&quot;: &quot;Double&quot;,
                &quot;RoomSpace&quot;: &quot;47C 1D-2 &quot;,
                &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
                &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
                &quot;RoomLocationFloorSuite&quot;: &quot;47C - 1 &quot;,
                &quot;RoomArea&quot;: 180,
                &quot;PointValue&quot;: 21.6667,
                &quot;FloorSuiteWebDescription&quot;: &quot;&quot;,
                &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2497,
            &quot;RoomLocationSection&quot;: &quot;47C - 1st Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 1D &quot;,
            &quot;RoomType&quot;: &quot;Double&quot;,
            &quot;RoomSpace&quot;: &quot;47C 1D-1 &quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 1 &quot;,
            &quot;RoomArea&quot;: 180,
            &quot;PointValue&quot;: 21.6667,
            &quot;FloorSuiteWebDescription&quot;: &quot;&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2497,
            &quot;RoomLocationSection&quot;: &quot;47C - 1st Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 1E &quot;,
            &quot;RoomType&quot;: &quot;Single&quot;,
            &quot;RoomSpace&quot;: &quot;47C 1E-1 &quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 1 &quot;,
            &quot;RoomArea&quot;: 81,
            &quot;PointValue&quot;: 21.6667,
            &quot;FloorSuiteWebDescription&quot;: &quot;&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 0,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 21A&quot;,
            &quot;RoomType&quot;: &quot;Single&quot;,
            &quot;RoomSpace&quot;: &quot;47C 21A-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Withheld&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 21&quot;,
            &quot;RoomArea&quot;: 105,
            &quot;PointValue&quot;: 0,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 0,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 21B&quot;,
            &quot;RoomType&quot;: &quot;Single&quot;,
            &quot;RoomSpace&quot;: &quot;47C 21B-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Withheld&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 21&quot;,
            &quot;RoomArea&quot;: 120,
            &quot;PointValue&quot;: 0,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2257,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 21C&quot;,
            &quot;RoomType&quot;: &quot;Double&quot;,
            &quot;RoomSpace&quot;: &quot;47C 21C-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 21&quot;,
            &quot;RoomArea&quot;: 200,
            &quot;PointValue&quot;: 10,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2257,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 21C&quot;,
            &quot;RoomType&quot;: &quot;Double&quot;,
            &quot;RoomSpace&quot;: &quot;47C 21C-2&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 21&quot;,
            &quot;RoomArea&quot;: 200,
            &quot;PointValue&quot;: 10,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2257,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 21D&quot;,
            &quot;RoomType&quot;: &quot;Double&quot;,
            &quot;RoomSpace&quot;: &quot;47C 21D-2&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 21&quot;,
            &quot;RoomArea&quot;: 186,
            &quot;PointValue&quot;: 10,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2257,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 21D&quot;,
            &quot;RoomType&quot;: &quot;Double&quot;,
            &quot;RoomSpace&quot;: &quot;47C 21D-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 21&quot;,
            &quot;RoomArea&quot;: 186,
            &quot;PointValue&quot;: 10,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2257,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 21E&quot;,
            &quot;RoomType&quot;: &quot;Single&quot;,
            &quot;RoomSpace&quot;: &quot;47C 21E-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Group Suite (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 21&quot;,
            &quot;RoomArea&quot;: 81,
            &quot;PointValue&quot;: 10,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 877,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 22A&quot;,
            &quot;RoomType&quot;: &quot;Single&quot;,
            &quot;RoomSpace&quot;: &quot;47C 22A-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Junior Regroup (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 22&quot;,
            &quot;RoomArea&quot;: 105,
            &quot;PointValue&quot;: 20,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 877,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 22B&quot;,
            &quot;RoomType&quot;: &quot;Single&quot;,
            &quot;RoomSpace&quot;: &quot;47C 22B-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Junior Regroup (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 22&quot;,
            &quot;RoomArea&quot;: 120,
            &quot;PointValue&quot;: 20,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 877,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 22C&quot;,
            &quot;RoomType&quot;: &quot;Double&quot;,
            &quot;RoomSpace&quot;: &quot;47C 22C-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Junior Regroup (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 22&quot;,
            &quot;RoomArea&quot;: 200,
            &quot;PointValue&quot;: 20,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 877,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 22C&quot;,
            &quot;RoomType&quot;: &quot;Double&quot;,
            &quot;RoomSpace&quot;: &quot;47C 22C-2&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Junior Regroup (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 22&quot;,
            &quot;RoomArea&quot;: 200,
            &quot;PointValue&quot;: 20,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 0,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 22D&quot;,
            &quot;RoomType&quot;: &quot;Double&quot;,
            &quot;RoomSpace&quot;: &quot;47C 22D-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Withheld&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 22&quot;,
            &quot;RoomArea&quot;: 186,
            &quot;PointValue&quot;: 0,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 2059,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 22D&quot;,
            &quot;RoomType&quot;: &quot;Double&quot;,
            &quot;RoomSpace&quot;: &quot;47C 22D-2&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Junior Regroup (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 22&quot;,
            &quot;RoomArea&quot;: 186,
            &quot;PointValue&quot;: 20,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        },
        {
            &quot;RoomLocation&quot;: &quot;47 Claremont&quot;,
            &quot;LotteryNumber&quot;: 1029,
            &quot;RoomLocationSection&quot;: &quot;47C - 2nd Floor&quot;,
            &quot;IsSuite&quot;: true,
            &quot;Room&quot;: &quot;47C 22E&quot;,
            &quot;RoomType&quot;: &quot;Single&quot;,
            &quot;RoomSpace&quot;: &quot;47C 22E-1&quot;,
            &quot;Ay1213RSStatus&quot;: &quot;Junior Regroup (In Person)&quot;,
            &quot;RoomLocationArea&quot;: &quot;Small Suite&quot;,
            &quot;RoomLocationFloorSuite&quot;: &quot;47C - 22&quot;,
            &quot;RoomArea&quot;: 90,
            &quot;PointValue&quot;: 20,
            &quot;FloorSuiteWebDescription&quot;: &quot;3 Singles - 2 Doubles&quot;,
            &quot;ResidentialArea&quot;: &quot;West Campus&quot;
        }
    ],
    &quot;status_txt&quot;: &quot;OK&quot;
}
</pre>
</div>

<h3>Query Parameters</h3>

<h4>room_space</h4>
<p class="prettyprint"><span class="tag">string</span></p>

<h4>ay_12_13_rs_status</h4>
<p class="prettyprint"><span class="tag">string</span></p>

<h4>residential_area</h4>
<p class="prettyprint"><span class="tag">string </span></p>

<h4>room</h4>
<p class="prettyprint"><span class="tag">string </span></p>

<h4>room_area</h4>
<p class="prettyprint"><span class="tag">int</span></p>

<h4>room_location_section</h4>
<p class="prettyprint"><span class="tag">string </span></p>

<h4>is_suite</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>

<h4>lottery_number</h4>
<p class="prettyprint"><span class="tag">int</span></p>

<h4>point_value</h4>
<p class="prettyprint"><span class="tag">double (compares floors of your query and the actual value)</span></p>

<h4>room_location_floor_suite</h4>
<p class="prettyprint"><span class="tag">string </span></p>

<h4>room_location_area</h4>
<p class="prettyprint"><span class="tag">string</span></p>

<h4>room_location</h4>
<p class="prettyprint"><span class="tag">string </span></p>



<h2>Endpoint housing/buildings</h2>
<h3>GET Request</h3>
<div class="box-example">
<p class="text-info"><a href="http://data.adicu.com/housing/buildings?name=watt&amp;api_token=API_TOKEN" target="_blank">http://data.adicu.com/housing/buildings?name=watt&amp;api_token=API_TOKEN</a></p>
</div>
<h3>Response</h3>
<div class="box-example">
<pre class="text-success prettyprint
lang=js">
{
    &quot;status_code&quot;: 200,
    &quot;data&quot;: [
        {
            &quot;Building&quot;: &quot;Watt&quot;,
            &quot;SharedKitchen&quot;: false,
            &quot;SemiPrivateKitchen&quot;: false,
            &quot;SuiteStyle&quot;: false,
            &quot;ApartmentStyle&quot;: true,
            &quot;Lounge&quot;: &quot;&quot;,
            &quot;SemiPrivateBathroom&quot;: false,
            &quot;PrivateBathroom&quot;: true,
            &quot;SharedBathroom&quot;: false,
            &quot;CorridorStyle&quot;: false,
            &quot;PrivateKitchen&quot;: true
        }
    ],
    &quot;status_txt&quot;: &quot;OK&quot;
}
</pre>
</div>

<h3>Query Parameters</h3>

<h4>corridor_style</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>

<h4>shared_kitchen</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>

<h4>suite_style</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>

<h4>private_bathroom</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>

<h4>private_kitchen</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>

<h4>name</h4>
<p class="prettyprint"><span class="tag">string</span></p>

<h4>apartment_style</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>

<h4>lounge</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>

<h4>semi_private_kitchen</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>

<h4>shared_bathroom</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>

<h4>semi_private_bathroom</h4>
<p class="prettyprint"><span class="tag">boolean</span></p>




</section>
</div>
</div>
</div>
{% endblock %}
