{% extends "base.html" %}
<!-- {% block page %}
  <div id="content" class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <section id="Documentation">
          <h1 class="center">Students</h1>
          <hr>
          <p class="lead">No, this isn't creepy.</p>
        </section>
      </div>
    </div>
  </div>
{% endblock %} -->
{% block content %}
  <h1>Coming soon</h1>
{% endblock %}
<!-- {% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='assets/api_page.css')}}">
{% endblock %} -->