<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data ADICU</title>
<link href="/static/css/bootstrap.min.css?v=c6f2c" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.min.css?v=02ca8" rel="stylesheet">
<link href="/static/css/bootstrap-responsive-fluid.css?v=7d8ad" rel="stylesheet">
<script src="/static/js/modernizr.js?v=77044"></script>
<link href="/static/css/preview.css?v=bfd55" rel="stylesheet">
<link href="/static/css/prometheus.css?v=2469c" rel="stylesheet">
<link href="/static/css/menu.css?v=9e1ec" rel="stylesheet">
</head>
<body>
<!-- ========================
Header
============================= -->
<header>
<div class="navbar navbar-inverse">
<div class="navbar-inner">
<div class="container">
<a class="logo" href="#">ADI Data API Docs</a>
<div class="nav-collapse collapse">
<ul class="profileBar visible-desktop">

<li class="profile">
<a href="/login">Log In</a>
</li>

</ul>
</div>
</div>
</div>
</div>
</header>
<!-- ========================
Sidebar
============================= -->
<aside class="visible-desktop">
<ul class="sideMenu">

<li
class="active"

><a href="Authentication">Authentication</a>
</li>

<li
><a href="Documentation">Documentation</a>
</li>

<li
><a href="courses">courses</a>
</li>

<li
><a href="courses (v2)">courses (v2)</a>
</li>

<li
><a href="housing">housing</a>
</li>

</ul>
</aside>

<!-- ========================
Content
============================= -->
<div id="content" class="container-fluid">
<div class="row-fluid">
<div class="span12">
<section id="Authentication">
<h1>Authentication</h1>
<hr>

<p class="lead">To use any of the API's you must have an api_token
        and appended to your string as api_token=TOKEN. To get a
        token, login on the upper right. We use google auth to make
        the auth request. Once signed in, visit the token page to see
        your token, and get coding!</p>


</section>
</div>
</div>
</div>

<!-- ========================
Javascripts
============================= -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/menu.js?v=7e9c4"></script>
<script src="/static/js/bootstrap.min.js?v=81784"></script>
</body>
</html>
