{%  extends "bootstrap/base.html" %}
{%  import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
 <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar_header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.dining') }}">Dining</a></li>
                    <li><a href="{{ url_for('main.housing') }}">Housing</a></li>
                    <li><a href="{{ url_for('main.courses') }}">Courses</a></li>
                    <li><a href="{{ url_for('main.courses') }}">Courses</a></li>
                <a class="navbar-brand" href="{{ url_for('main.home') }}">Twitter Demo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.home') }}">Home</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
    {% block page_content %}
{#    Custom HTML goes here#}
    {% endblock %}
    </div>
{% endblock %}
