{%  extends "bootstrap/base.html" %}
{%  import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
 <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar_header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-left">
                    <li><a class="navbar-brand" href="{{ url_for('main.home') }}">Data API</a></li>
                    <li><a href="{{ url_for('main.dining') }}">Dining</a></li>
                    <li><a href="{{ url_for('main.housing') }}">Housing</a></li>
                    <li><a href="{{ url_for('main.courses') }}">Courses</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.token') }}">Get Token</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
    {% block page_content %}

    {% endblock %}
    </div>
{% endblock %}
